<div class="w-full h-[410px] bg-collection">
    <div class="flex flex-col text-center w-fit m-auto py-56">
        <h1 class="text-[36px] font-bold mb-3">{{collection.title}}</h1>
        <p class="text-[15px]">{{collection.description}}</p>
    </div>
    
</div>

{% schema %}
{
    "name": "Collection Header",
    "settings": [
      {
        "type": "collection",
        "id": "collection-header",
        "label": "Collection Header"
      }
    ],
    "presets": [
      {
        "name": "Collection Header Settings"
      }
    ]
}
{% endschema %}
