<div class="container">
  <div class="footer-content mission">
    <h3 class="footer-heading">Our Mission</h3>
    <p>So seed seed green that winged cattle in. Gathering thing made fly you're no divided deep moved us lan Gathering thing
    us land years living.</p>
    <p>So seed seed green that winged cattle in. Gathering thing made fly you're no divided deep moved.</p>
  </div>
  <div class="footer-content">
    <h3 class="footer-heading">Quick Links</h3>
    <nav class="nav-footer">
      <ul>
        {% for link in linklists.footer.links %}
        <li class="quick-link"><a href="{{ link.url }}">{{ link.title }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </div>
  <div class="footer-content">
    <h3 class="footer-heading">Contact Us</h3>
    <div class="contact-content">
      <div class="contact-title">
        <div class="contact-icon">{% render 'icon-location.liquid' %}</div>
        <p>Head Office</p>
      </div>
      <div class="contact-description">
        <p>123, Main Street, Your City</p>
      </div>
    </div>
    <div class="contact-content">
      <div class="contact-title">
        <div class="contact-icon">{% render 'icon-phone.liquid' %}</div>
        <p>Phone Number</p>
      </div>
      <div class="contact-description">
        <p>+123 456 7890</p>
        <p>+123 456 7890</p>
      </div>
    </div>
    <div class="contact-content">
      <div class="contact-title">
        <div class="contact-icon">{% render 'icon-email.liquid' %}</div>
        <p>Email</p>
      </div>
      <div class="contact-description">
        <p>free@infoexample.com</p>
        <p>www.infoexample.com</p>
      </div>
    </div>
  </div>

</div>

{% schema %}
{
  "name": "Footer",
  "settings":[
    {
      "type": "text",
      "id": "footer",
      "label": "Footer"
    }
  ],
  "blocks": [
  {
  "type": "link_list",
  "name": "Links",
  "settings": [
  {
  "type": "link_list",
  "id": "menu",
  "label": "Menu"
  }
  
  ]
  }
  ],
  "presets":[
    {
      "name": "Footer"
    }
  ]
}
{% endschema %}

{% style %}
  .container{
    padding: 80px 120px 120px 120px;
    display: flex;
    justify-content: space-between;
    background: #002347;
  }

  .mission{
    max-width: 25%;
  }

  .footer-content{
  font-size:15px;
  color: #7B838A;
  }

  .nav-footer ul{
    list-style-type: none;
    padding-left: 0px;
  }

  .nav-footer ul a{
    text-decoration: none;
    color: #7B838A;
  }

  .nav-footer ul li a:hover{
  cursor: pointer;
  color: #384aeb;
  transition: all .4s ease;
  }

  .quick-link{
    margin-bottom:10px;
  }

  .footer-heading{
    color: white;
    font-weight: 900;
  }

  .contact-title{
    display: flex;
    align-items: center;
    gap:15px;
    color: white;
  }

  p {
    margin: 0px;
  }

  .contact-icon{
    height: 28px;
    width: 28px;
    padding:4px 6px;
    background: #384aeb;
    border-radius:20px;
  }

  .contact-description p{
    margin: 0px 0px 0px 43px;

  }

  .contact-content{
    margin-bottom:20px;
  }

  @media (max-width: 768px){
    .container{
      display: block;
      padding: 20px;
    }

    .footer-content{
      margin: auto;
      margin-bottom:80px;
      max-width:60%;
    }
  }
{% endstyle %}