<div class="header-container">
  <div class="header-content">
    <div class="logo">
      <img src="https://preview.colorlib.com/theme/aroma/img/logo.png.webp" />
    </div>
    <div class="navbar">
      <a>Home</a>
      <a>Shop</a>
      <a>Blog</a>
      <a>Contact</a>
    </div>
    <div class="buy-now">
      <div class="icon">
        {% render 'icon-search.liquid' %}
      </div>
      <div class="icon">
        {% render 'icon-cart.liquid' %}
      </div>

      <button class="new-button button-header">Buy Now</button>
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Header",
    "blocks": [
      {
        "type": "link_list",
        "name": "Links",
        "settings": [
          {
            "type": "link_list",
            "id": "menu",
            "label": "Menu"
          }

        ]
      }
    ],
    "settings": [
      {
        "type": "text",
        "id": "header",
        "label": "header"
      }
    ],
    "presets": [
      {
        "name": "Header"
      }
    ]
  }
{% endschema %}

{% style %}
.header-container{
  width: 100%;
}

.header-content{
  display: flex;
  justify-content: space-between;
  padding:25px 120px;

}

.navbar{
  display:flex;
  align-items: center;
  gap: 30px;
  font-size:15px;
}

.logo{
  display: flex;
  align-items: center;
}

.buy-now{
  display: flex;
  align-items: center;
  gap: 15px;
}

.button-header{
  padding: 10px 45px;
  background: transparent;
  color: #222;
  border-color: #EEEEEE;
  min-width: 150px;
  margin-left:30px;
  font-weight:bold;
}

.button-header:hover{
  border-color: #384aeb;
  transition: all .4s ease;
  cursor: pointer;
}

a:hover{
  cursor: pointer;
  color: #384aeb;
  transition: all .4s ease;
}

.icon{
  width:20px;
  height:20px;
  cursor:pointer
}
{% endstyle %}
