<div class="w-fit m-auto mb-10">
  <form action="{{ routes.search_url }}">
    <input
      class="mr-2"
      type="text"
      placeholder="Search"
      name="q"
      value="{{ search.terms | escape }}" />
    <input type="submit" value="Search" />
  </form>
</div>

<div class="grid grid-cols-3 gap-0">
  {% for item in search.results %} {% render 'collection-card', product:item%}
  {% endfor %}
</div>
