<h1 class="title"> TEST SECTION - TITLE </h1>

{% schema %}
    {
        "name": "test-file",
        "tag": "section",
        "class": "test-file",
        "settings":[
            {
            "type": "header",
            "content": "TEST - SCHEMA SETTINGS"
            }

        ]

    }
{% endschema %}

{% stylesheet %}
    .title{
        width: fit-content;
        padding-left: 50px;
    }
{% endstylesheet %}


