<div >
    {{section.settings.trending_title}}
</div>

{% schema %}
{
"name": "Trending Section",
"settings": [
{
"type": "text",
"id": "trending_title",
"label": "Trending Title"
}
],
"presets": [
{
"name": "Trending Settings"
}
]
}
{% endschema %}

{% style %}



{% endstyle %}
