<div class="mt-10">
    <p class="text-[15px]">{{section.settings.trending_description}}</p>
    <h3 class="text-[36px] font-semibold">{{section.settings.trending_title}}</h3>


</div>

{% schema %}
{
"name": "Trending Section",
"settings": [
{
"type": "text",
"id": "trending_description",
"label": "Trending Description"
},
{
"type": "text",
"id": "trending_title",
"label": "Trending Title"
}
],
"presets": [
{
"name": "Trending Settings"
}
]
}
{% endschema %}

{% style %}



{% endstyle %}
