<div class="mt-24 w-fit m-auto">
    <p class="text-[15px]">{{section.settings.trending_description}}</p>
    <h3 class="text-[36px] font-semibold">{{section.settings.trending_title}}</h3>
    <div class="flex">
        {% for product in section.settings.collection.products %}
        {% render 'trending-product', product: product %}
        {% endfor %}
    </div>

</div>

{% schema %}
{
"name": "Trending Section",
"settings": [
{
"type": "text",
"id": "trending_description",
"label": "Trending Description"
},
{
"type": "text",
"id": "trending_title",
"label": "Trending Title"
},
{
"type": "collection",
"id": "collection",
"label": "Collection"
}
],
"presets": [
{
"name": "Trending Settings"
}
]
}
{% endschema %}

{% style %}



{% endstyle %}
