<div class="w-fit m-auto text-center pt-48 pb-48 bg-winter">
    
    <h3 class="text-[36px] font-semibold mb-10">Up to 50% Off</h3>
    <h3 class="text-[30px] font-semibold mb-3">Winter Sale</h3>
    <p class="text-[15px] mb-12">Him she'd let them sixth saw light</p>
    <a href="{{section.settings.collection-winter.url}}"><button class="new-button browse-button">Browse Now</button></a>
</div>

{% schema %}
{
"name": "Winter Sale Section",
"settings": [
{
"type": "text",
"id": "winter-sale_title",
"label": "Winter Sale Title"
},
{
"type": "collection",
"id": "collection-winter",
"label": "Collection Winter"
}
],
"presets": [
{
"name": "Winter Sale Settings"
}
]
}
{% endschema %}

{% style %}



{% endstyle %}